html {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

.container {
    display: flex;
    max-width: 15vw;
    height: 35rem;
    flex-direction: column;
    flex-wrap: wrap;
}

.container span {
    border: 1px solid gray;
    text-align: center;
    width: 20%;
    padding: 18px 36px;
    margin: 10px;
}
.order1{
    order: 1;
}
.order2{
    order: 2;
}
.order3{
    order: 3;
}
.order4{
    order: 4;
}
.order5{
    order: 5;
}
.order6{
    order: 6;
}
.order7{
    order: 7;
}
.order8{
    order: 8;
}
.order9{
    order: 9;
}
.order10{
    order: 10;
}
.order11{
    order: 11;
}
.order12{
    order: 12;
}