@import url(https://use.fontawesome.com/releases/v6.5.2/css/all.css);

li {
    display: inline-block;
    list-style: none;
}

a {
    color: rgb(100, 100, 100);
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
    padding: 8px 10px;
    font-size: x-large;
}

.fa-square-facebook:hover {
    color: rgb(59, 89, 152);
}

.fa-twitter:hover {
    color: rgb(0, 172, 237);
}

.fa-google-plus:hover {
    color: rgb(221, 75, 57);
}

.fa-linkedin:hover {
    color: rgb(0, 123, 182);
}

.fa-instagram:hover {
    color: rgb(93, 137, 171);
}